<% layout("/layouts/boilerplate.ejs")-%>
<body>
    <form method="post" action="/listings/<%=listing._id%>?_method=PUT"  class="needs-validation" novalidate novalidate enctype="multipart/form-data">
           <div class="mb-3">
        <label for="title" class="form-label">Title</label>
        <input  name="Listing[title]" class="form-control" value="<%=listing.title%>" required>
          <div class="invalid-feedback">
      Mention the Title
    </div>
    </div>
        
       <div class="mb-3">
        <label for="description" class="form-label">Description</label>
 <textarea  name="Listing[description]" class="form-control" required> <%=listing.title%></textarea>
 <div class="invalid-feedback">
      Enter the description
    </div>
       </div>
      <!-- <div class="mb-3">
        <label for="image" class="form-label" >Image</label>
 <input  name="Listing[image]" class="form-control" value="<%=listing.image.url%>" required>
       <div class="invalid-feedback">
      Provide image URL
    </div>-->
          <div class="mb-3">
        <label for="image" class="form-label" >Image</label>
 <input  type="file" name="Listing[image]" class="form-control" value="<%=listing.image%>" required>
       <div class="invalid-feedback">
      Provide image URL
    </div>


       </div>
       <div class="mb-3 col-4">
         <label for="price" class="form-label" >Price</label>
<input  name="Listing[price]" class="form-control" value="<%=listing.price%>" required>
<div class="invalid-feedback">
      Enter the Price
    </div>
       </div>
       <div class="row" >
         <div class="mb-3 col-4">
             <label for="location" class="form-label">Location</label>
 <input name="Listing[location]" class="form-control" value="<%=listing.location%>" required>
 <div class="invalid-feedback">
      Location should be valid
    </div>
         </div>
         <div class="mb-3 col-8">
             <label for="country" class="form-label">Country</label>
            <input  name="Listing[country]" class="form-control" value="<%=listing.country%>"required>
      <div class="invalid-feedback">
      Country name should be valid
    </div>
         </div>
         </div>
           <div class="col-auto" >     <button type="submit" class="btn btn-primary mb-3">Submit</button></div>
    </form>
    
</body>
</html>